<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title></title>
</head>
<body>
    <p>Email de teste para {{userName}}</p>
    <p>variável: {{test}}</p>
</body>
</html>